.spell-browser {
    display: flex;
    min-height: 100px;
    height: 100%;

    .control-area {
        position: sticky;
        display: block;
        min-width: 320px;
        width: 320px;
        padding-right: 5px;
        overflow: auto;
    }

    /*  Sort and filter areas */
    .filtercontainer,
    .sortcontainer {
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-top: 5px;
        padding: 2px;

        div.title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 22px;

            h3 {
                margin: 0;
                cursor: pointer;
            }
            button {
                width: fit-content;
                line-height: 22px;
            }
        }

        > dl {
            dt > input[type="checkbox"] {
                transform: none;
                flex: none;
                height: auto;
                margin: 3px 3px;
            }

            dd > a.direction {
                padding: 2px;
            }
        }
    }

    .filtercontainer {
        dt {
            width: 10%
        }

        dd {
            width: 82%;
        }
    }

    .rangecontainer {
        div {
            text-align: center;
            margin-top: 5px;
        }

        input {
            width: 45%;
        }
    }

    .slidercontainer {
        &-flex {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            label {
                width: 10px
            }
        }
    }

    dl {
        margin: 5px 0;
    }

    dt {
        display: inline-block;
        padding-left: 5px;
    }

    dd {
        text-transform: capitalize;
        display: inline-block;

        select {
            width: 6em;
            margin-left: 0.5em;
        }
    }

    ul.result-list {
        width: 100%;
        float: right;
        display: block;
        margin: 0;
        height: 100%;
        // 'overflow: auto' causes excessive layout/redraw times
        // Use a fixed setting instead, to avoid stuttering
        @include scrollbar;
        overflow: visible scroll;

        > li {
            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.12);
            }

            vertical-align: middle;
            line-height: 32px;
            margin: 2px 0;

            > * {
                align-self: center;
            }

            > .image {
                min-width: 32px;
                max-width: 32px;
                height: 32px;
            }

            > .tags {
                margin-left: 0.5em;
                justify-content: center;
                .common {
                    background: $rarity-common !important;
                }
                .uncommon {
                    background: $rarity-uncommon !important;
                }
                .rare {
                    background: $rarity-rare !important;
                }
                .unique {
                    background: $rarity-unique !important;
                }
            }

            > .level {
                flex-grow: 1;
                text-align: center;
                font-weight: 900;
                max-width: 18px;
                height: 32px;
            }

            > .price {
                flex: none;
                text-align: right;
                font-weight: 900;
                height: 32px;
                margin-right: 10px;
                min-width: 5em;
            }

            > .name {
                line-height: 1em;
                padding-left: 5px;
                width: max-content;
            }

            > .end {
                text-align: right;
                margin-right: 3px;
                font-weight: 900;
                max-width: 100px;
                height: 32px;
            }

            &:hover {
                cursor: grab;
                background-color: rgba(255, 255, 255, 0.25);
            }
        }
    }

    #tagfilter input {
        width: 100%;
    }

    .hint {
        font-size: var(--font-size-12);
        border: 1px solid #00ff0547;
        border-radius: 5px;
        padding: 3px;
    }

    .spacer {
        display: inline-block;
        min-width: 5px;
    }
    .spacer-large {
        display: inline-block;
        min-width: 15px;
    }

    .equipment-controls {
        margin-left: 0.25em;
        margin-right: 0.25em;
        max-width: 1em;
        width: 1em;
    }
}
