&.actions {
    .actions-container .actions-tabs-wrapper .actions-panels ol.actions-list.strikes-list {
        & + .actions-list {
            margin-top: 8px;
        }

        li.strike {
            .item-name {
                align-items: flex-start;
            }

            .melee-usage {
                flex-basis: 100%;
                margin-left: calc(3em - 2px);
                position: relative;

                img.melee-icon {
                    border: none;
                    position: absolute;
                    left: -1.5em;
                    top: calc(0.5em - 3px);
                }
            }

            .ammo-remaining {
                white-space: nowrap;
                margin-right: 8px;
                display: flex;
                font-family: var(--sans-serif);
                font-weight: 600;
                gap: 2px;

                .ammo-icon {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-image: url("../assets/icons/heavy-bullets.svg") !important;
                }
            }

            .item-name {
                .item-image {
                    @include frame-icon;
                    height: 32px;
                    width: 32px;
                    padding: 11px;
                }

                .action-options {
                    display: flex;
                    margin-left: auto;

                    .item-toggle-equip {
                        color: rgba(black, 0.5);
                        &.active {
                            color: var(--secondary);
                        }
                    }
                }
            }

            .button-group {
                flex-wrap: nowrap;
                font-size: var(--font-size-14);

                button {
                    @include button;
                    @include micro;
                    margin: 0;
                    border: none;
                    padding: 3px 5px;
                    color: white;
                    font-weight: 500;
                    border-radius: 2px;
                    flex: 0;
                    white-space: nowrap;
                    width: auto;
                    line-height: 14px;
                    vertical-align: middle;

                    span.activity-icon {
                        line-height: 14px;
                        font-size: var(--font-size-14);
                        margin: 0;
                    }

                    &:not(:disabled) {
                        background: var(--secondary);
                        cursor: pointer;

                        &.damage {
                            background: var(--primary);
                        }

                        &:hover {
                            box-shadow: none;
                            text-shadow: 0 0 2px white;
                        }
                    }
                }
            }

            .auxiliary-actions {
                display: flex;
                gap: 3px;
                margin-left: 2.5rem;

                &.weapon-drawn {
                    flex-basis: 100%;
                }

                button {
                    @include button;
                    @include micro;
                    margin: 0;
                    border: none;
                    padding: 3px;
                    color: var(--text-dark);
                    font-weight: 500;
                    border-radius: 2px;
                    flex: 0;
                    white-space: nowrap;
                    line-height: 14px;

                    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3),
                                inset 0 0 0 2px rgba(0, 0, 0, 0.2);

                    span.activity-icon {
                        line-height: 14px;
                        font-size: var(--font-size-14);
                        margin: 0 0 0 2px;
                    }

                    p {
                        margin: 2px;
                    }

                    &:not(:disabled) {
                        background: var(--bg-dark);
                        cursor: pointer;

                        &:hover {
                            text-shadow: 0 0 1px var(--text-dark);
                        }

                        &:active {
                            box-shadow: none;
                        }
                    }
                }
            }

            .action-name {
                .item-carry-type {
                    color: rgba(0, 0, 0, 0.4);
                    &.active {
                        color: var(--primary);
                    }
                }
            }
        }
    }

    select[name="ammo-used"] {
        max-width: fit-content;
        font-family: var(--sans-serif);
        font-weight: normal;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 0.75em;
        &[data-compatible="false"] {
            color: #ffffff99;
        }

        option, optgroup {
            color: white;
        }
    }
}
