&.inventory {
    height: calc(100% - 40px);

    .item-controls {
        flex: 0 0 100px;
    }

    .inventory-list, .item-list {
        border: 1px solid var(--alt);
        border-top: none;
        height: calc(100% - 60px);
    }

    .currency, .wealth {
        margin: 0 0.5rem auto;
    }

    .wealth {
        margin-bottom: 0.5rem;
    }

    .inventory-header {
        @include button;
        margin-top: 8px;
        &:first-child {
            margin-top: 0;
        }
    }

    .item-summary {
        display: grid;
        grid:
            'content btn' min-content
            'tags btn' min-content
            / 1fr min-content;
        column-gap: 8px;
        align-items: center;
        padding: 4px 8px 8px;

        .item-description {
            grid-area: content;
            margin-bottom: 4px;
        }

        .item-properties {
            grid-area: tags;
            align-self: start;
        }
    }

    .encumbrance {
        align-items: center;
        display: grid;
        grid:
            'img bar overflow' min-content
            / 24px 1fr;
        margin: auto;

        img {
            grid-area: img;
            @include frame-icon;
            border-radius: 0;
            position: relative;
            z-index: 4;
        }
        .encumbrance-bar {
            position: relative;
            z-index: 2;
            grid-area: bar;
            height: 16px;
            width: 100%;
            background-color: var(--secondary);
            box-shadow: inset 0 0 0 1px rgba(black, 0.5),
                inset 0 0 0 2px rgba(white, 0.2);
        }
        .encumbrance-label {
            position: relative;
            z-index: 3;
            grid-area: bar;
            color: white;
            font-family: var(--serif);
            font-size: var(--font-size-12);
            font-weight: 500;
            padding: 0 8px;
            padding-top: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-shadow: 0 0 2px black;
        }
        .encumbrance-light-bulk-overflow {
            position: relative;
            z-index: 3;
            grid-area: overflow;
            color: black;
            font-family: var(--serif);
            font-size: var(--font-size-12);
            font-weight: 500;
            padding: 0 8px;
            padding-top: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-shadow: 0 0 2px white;
        }
        .bar-bg {
            position: relative;
            z-index: 1;
            grid-area: bar;
            width: 100%;
            height: 16px;
            background-color: rgba(black, 0.5);
            border-radius: 0 2px 2px 0;
            box-shadow: inset 0 0 4px rgba(black, 0.75);
        }

        &.over-limit {
            .encumbrance-bar {
                background-color: var(--primary) !important;
            }
        }
    }
}
